.bookingSite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.datapick {
    padding: 15px;

}


.min-width {
    min-width: 50px;
}

.bigcard {
    border-radius: 15px;
    background-color: antiquewhite;
    box-shadow: inset;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 2fr;
    max-width: 500px;
    height: 100px;
}

.colcard-left {
    flex: 1;
  
}

.colcard-right {
    flex: 2;

}

.content {
    border: solid 1px #888888;
    border-radius: 10px 10px 10px 10px;
}

.btnMenu {
    transition: 300ms;
}

.btnMenu:hover {
    box-shadow: 5px 5px 5px #888888;
    transition: 300ms;
}

.nav-btn {
    position: fixed;
    bottom: 10%;
    right: 1%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.item {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
}

@media only screen and (max-width: 600px) {

    .item {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }
    

}