body {
    height: 100%;
    font-family: 'Noto Sans Thai', sans-serif;
}

.app-bar {
    display: flex;
    align-items: center;
    background-color: #2b82f5;
    height: 60px;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textHeader {
    background: #2b82f5;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding: 0.5%;
    color: white;
    font-weight: bold;

}

.width-booking {
    width: 36%;
}

.textWarp {
    text-align: right;
    transition: 300ms;
    font-size: 18px;
}

.filter-low {
    filter: brightness(60%);
}

.textWarp:hover {
    color: #174fc9;
    transition: 300ms;

}

.buttonNext {
    font-weight: bold;
    height: 50px;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(251, 185, 0, 1) 0%, rgba(249, 210, 12, 1) 100%);
    transition: 300ms;
}

.buttonNext:hover {
    filter: brightness(85%);
    color: white;
    /* transform: scale(1.02); */
    transition: 300ms;
}

.backgroundWallpaper {
    margin: 10px;
    border: #174fc9 solid 2px;
    border-radius: 20px 20px 20px 20px;
    height: auto;
}

.shd {
    box-shadow: 0px 5px 10px #292929
}

.bg-color {
    background: linear-gradient(90deg, rgba(224, 224, 224, 1) 50%, rgba(252, 252, 252, 1) 66%, rgba(223, 223, 223, 1) 87%);
}

.box {
    padding-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: auto;
    background-color: white;
    border: #2b82f5 solid 2px;
    border-radius: 0px 0px 20px 20px;
}

.backButton {
    padding-top: 20px;
    color: #2b82f5;
    transition: 300ms;
    margin-top: 20px;
    margin-bottom: 20px;
}

.backButton:hover {
    padding-left: 1%;
    transition: 300ms;
    color: #174fc9;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {

    .box {
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: auto;
        background-color: white;
        border: #2b82f5 solid 2px;
        border-radius: 0px 0px 20px 20px;
    }

    .textHeader {
        background: #2b82f5;
        font-size: 20px;
        text-align: center;
        border-radius: 20px 20px 0px 0px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        padding: 0.5%;
        color: white;
        font-weight: bold;

    }
}

@media only screen and (max-width: 800px) {
    .box {
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: auto;
        background-color: white;
        border: #2b82f5 solid 2px;
        border-radius: 0px 0px 20px 20px;
    }

    .textHeader {
        background: #2b82f5;
        font-size: 16px;
        text-align: center;
        border-radius: 20px 20px 0px 0px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        padding: 2%;
        color: white;
        font-weight: bold;

    }
}