body {
    height: 100%;
}

.app-bar {
    display: flex;
    align-items: center;
    background-color: #67b99a;
    height: 60px;
}

.sanFont {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
}



.textHeader {
    background: #67b99a;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding: 0.5%;
    color: white;
    font-weight: bold;

}

.textWarp {
    text-align: right;
    transition: 300ms;
    font-size: 18px;
}

.textWarp:hover {
    color: #248277;
    transition: 300ms;

}

.buttonNext {
    font-weight: bold;
    height: 50px;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    color: #67b99a;
    background-color: #ffffff;
    border: #67b99a solid 1px;
    transition: 300ms;
}

.buttonNext:hover {
    background-color: #67b99a;
    color: white;
    /* transform: scale(1.02); */
    /* transition: 300ms; */
}

.backgroundWallpaper {
    margin: 10px;
    border: #248277 solid 2px;
    border-radius: 20px 20px 20px 20px;
    height: auto;
}

.shd {
    box-shadow: 0px 5px 10px #adadad
}

.box {
    padding-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: auto;
    background-color: white;
    border: #67b99a solid 2px;
    border-radius: 0px 0px 20px 20px;
}

.backButton {
    padding-top: 20px;
    color: #67b99a;
    transition: 300ms;
    margin-top: 20px;
    margin-bottom: 20px;
}

.backButton:hover {
    padding-left: 1%;
    transition: 300ms;
    color: #248277;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {

    .box {
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: auto;
        background-color: white;
        border: #67b99a solid 2px;
        border-radius: 0px 0px 20px 20px;
    }

    .textHeader {
        background: #67b99a;
        font-size: 20px;
        text-align: center;
        border-radius: 20px 20px 0px 0px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        padding: 0.5%;
        color: white;
        font-weight: bold;

    }
}

@media only screen and (max-width: 800px) {
    .box {
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: auto;
        background-color: white;
        border: #67b99a solid 2px;
        border-radius: 0px 0px 20px 20px;
    }

    .textHeader {
        background: #67b99a;
        font-size: 16px;
        text-align: center;
        border-radius: 20px 20px 0px 0px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        padding: 2%;
        color: white;
        font-weight: bold;

    }
}